body{
    overflow: scroll;
}

#imagesContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Default: Four images per row */
    gap: 30px;
    padding: 20px;
    margin-left: 30px;
    
}

.image-item {
    width: 100%;
    height: 200px; /* Set the height of the image container */
    overflow-y: scroll; /* Enable vertical scroll for long images */
    border-radius: 10px;
    background-color: #f4f4f4;
    
   
}
/* Hide the scrollbar */
.image-item::-webkit-scrollbar {
    display: none;
}

.thumbnail {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
    /* object-position: 0 -100px; Start view from 100px down the image */
    cursor: pointer;
    border-radius: 8px;
    
  
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%; /* Center horizontally */
    top: 50%; /* Center vertically */
    width: 50%; /* Half the viewport width */
    height: 100%;
    transform: translate(-50%, -50%); /* Adjust for perfect centering */
    background-color: rgba(0, 0, 0, 0); /* Black background with some transparency */
    padding-top: 50px; /* Remove top padding */
    overflow: auto
}
.modal::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

.modal-content {
    display: block;
    width: 80%; /* Set a fixed width (80% of the container) */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the image scales correctly */
    margin: auto; /* Center the image horizontally */
    border-radius: 8px;
   
}

.close {
    position: absolute;
    top: 15px;
    right: 65px;
    color:#000;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}


.modal-overlay {
    position: absolute;
    top: 20px; /* Adjust from the top of the image */
    left:65px; /* Position the buttons to the right */
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1; /* Make sure buttons are above the image */
    margin-top: 10px;
}

/* Styling for the buttons */
.modal-buttons button {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Dark background for buttons */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.modal-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}




