/* Center the modal */
#uploadModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
}

.content {
    padding: 20px;
    text-align: center;
    min-height: 90vh;
}

.dashboard-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 1150px;
    gap: 40px;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    flex-grow: 1; 
    width: 60%; 
}

.logout{
    margin-top: 20px;
    margin-left: 100%;
    width: 40px;
    height: 40px;
}

.stat-box {
    transition: transform 0.5s ease; /* Smooth transition */
    width: 150px;
    height: 100px;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat-box:hover {
    transform: scale(1.1); 
  }

.stat-box h3 {
    margin-top: 10px;
    font-size: 24px;
}

.graph-line {
    height: 50px;
    margin-top: 10px;
    border-radius: 8px;
}

.attendance-chart {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    width: 35%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.attendance-chart p {
    font-weight: bold;
    margin-bottom: 10px;
}

canvas {
    width: 100%;
    height: 200px;
}

.month {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 14px;
    color: gray;
}

.navbar {
    margin-bottom: 80px;
    margin-left: 420px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 30%;
    border-radius: 30px;
    background-color: #DC143C;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

.nav-button {
    border-radius: 20px;
    background-color: #DC143C;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.nav-button:hover {
    background-color: white;
    color: #DC143C;;
    text-decoration: none;
}




/* Modal button alignment */
#uploadModal a {
    text-decoration: none;
    color: #181717;
}

#uploadModal a:hover {
    color: #df6b83;
}

/* Hide the modal background when not active */
body::before {
    content: "";
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Show the modal background when the modal is active */
.modal-active body::before {
    display: block;
}

#uploadModal{
    width:500px;
    height: 200px;
}
/* .download-template{
    color: #DC143C;
} */
#excelFile{
    margin-top: 20px;
    /* margin-bottom: 200px; */
}
#uploadButton{
    /* margin-top: 100px; */
    background: #DC143C;
    border-radius: 10px;
    border: solid 1px #DC143C;
    height: 30px;
    color: white;
    cursor: pointer;
}
#closeUploadModal{
    /* margin-top: 50px; */
    margin-left: 30px;
    background: #DC143C;
    border-radius: 10px;
    border: solid 1px #DC143C;
    height: 30px;
    color: white;
    cursor: pointer;
}
.input-buttons{
    margin-top: 70px;
    margin-left: 300px;
}
.download-template{
    color: #DC143C;
}